/* ------------------------------------ CSS RESET -------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-y: scroll;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------ Header -------------------------------------*/

    
/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/


.mainPage {
	background-image: url(images/Test_Background_Light.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-color: black;
	top: 0;
	left: 0;
	min-width: 1000px;
	min-height: 750px;
}
.navbar {
	position: fixed;
	width:100vw;
	top: 0;
	text-align: center;
	background: rgba(203, 119, 82, 0.7);
	height:42px;
	overflow: hidden;
}

.arjunLogo {
	float: left;
   	width: 50px;
	height: auto;
	position: relative;
	top: 10%;  	
}

.inner {
	padding-top: 9px;
	margin-left: -50px;
	display: inline-block;
}

.inner a {
	color:white;
	text-align: center;
	text-decoration: none;
	padding: 12px;
	font-size: 18;
	line-height: 25px;
	font-family: 'Roboto Condensed', sans-serif;
}

.inner a:hover {
	color: black;
	background: rgba(203, 119, 82, 1);
}


.introContainer {
	top: 42px;
	position: absolute;
	width:100%;
	height: 100%;
	text-align: center;
	background:transparent;
	color: white;
}

.introContainer span {
	position: relative;
	font-size: 350%;
}

.introContainer h1 {
	position: absolute;
	width: 70vw;
	left: 50%;
	margin-left: -35vw;
	top:0;
	margin-top: 9vh;
	font-size: 230%;
	font-family: 'Raleway', sans-serif;
	line-height: 1.2;
}

.introContainer h4 {
	position: absolute;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	top:0;
	margin-top:59.4vh;
	font-weight: lighter;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 150%;
	line-height: 1.5
}

.introContainer button {
	position: absolute;
	width: 30vw;
	margin-left: -15vw;
	background-color: transparent;
	border-color: transparent;
	top: 0;
	margin-top: 81.2vh;
	filter: invert(100%);
}

.github {
	position: relative;
	width: 50px;
	height: 50px;
}

.linkedin {
	position: relative;
	height: 50px;
	width: 50px;
}

.github:hover {
	background-color: rgba(52, 136, 173, 1);
	border-radius: 10px;
}

.linkedin:hover {
	background-color: rgba(52, 136, 173, 1);
	border-radius: 10px;
}

.projectsTab {
	background-image: url("images/Blueprint_Cover.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 200px;
	top: 0;
	left: 0;
	min-width: 1000px;
	position: relative;
}

.insideText{
	position: relative;
	top:15%;
	left: 50%;
	width: 300px;
	height: 50px;
	margin-left: -100px;
}

.buttonContainer{
	position: relative;
	width: 400px;
	height: 70px;
	border-radius: 35px;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 150%;
	color: white;
	background-color: #db6233;
	text-align: center;
	top: 50%;
	margin-top: -35px;
}

@media only screen and (max-height: 750px) {

	.introContainer h1 {
		top: 63px;
		margin-top: 0;
	}

	.introContainer h4 {
		top:445.5px;
		margin-top:0;
	}

	.introContainer button {
		top: 607px;
		margin-top: 0;
	}
}

@media only screen and (max-width: 700px) {
	.introContainer h4 {
		width: 86.6vw;
		margin-left: -43.3vw;
	}
}